.v-select{
    position:relative;
    font-family:inherit
}
.v-select,.v-select *{
    box-sizing:border-box
}
@-webkit-keyframes vSelectSpinner{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}
@keyframes vSelectSpinner{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}
.vs__fade-enter-active,.vs__fade-leave-active{
    pointer-events:none;
    transition:opacity .15s cubic-bezier(1,.5,.8,1)
}
.vs__fade-enter,.vs__fade-leave-to{
    opacity:0
}
.vs--disabled .vs__clear,.vs--disabled .vs__dropdown-toggle,.vs--disabled .vs__open-indicator,.vs--disabled .vs__search,.vs--disabled .vs__selected{
    cursor:not-allowed;
    background-color:#f8f8f8
}
.v-select[dir=rtl] .vs__actions{
    padding:0 3px 0 6px
}
.v-select[dir=rtl] .vs__clear{
    margin-left:6px;
    margin-right:0
}
.v-select[dir=rtl] .vs__deselect{
    margin-left:0;
    margin-right:2px
}
.v-select[dir=rtl] .vs__dropdown-menu{
    text-align:right
}
.vs__dropdown-toggle{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display:flex;
    padding:0 0 4px;
    background:none;
    border:1px solid rgba(60,60,60,.26);
    border-radius:4px;
    white-space:normal
}
.vs__selected-options{
    display:flex;
    flex-basis:100%;
    flex-grow:1;
    flex-wrap:wrap;
    padding:0 2px;
    position:relative
}
.vs__actions{
    align-items:center;
    padding:4px 6px 0 3px
}
.vs--searchable .vs__dropdown-toggle{
    cursor:text
}
.vs--unsearchable .vs__dropdown-toggle{
    cursor:pointer
}
.vs--open .vs__dropdown-toggle{
    border-bottom-color:transparent;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0
}
.vs__open-indicator{
    fill:rgba(60,60,60,.5);
    transform:scale(1);
    transition:transform .15s cubic-bezier(1,-.115,.975,.855);
    transition-timing-function:cubic-bezier(1,-.115,.975,.855)
}
.vs--open .vs__open-indicator{
    transform:rotate(180deg) scale(1)
}
.vs--loading .vs__open-indicator{
    opacity:0
}
.vs__clear{
    fill:rgba(60,60,60,.5);
    padding:0;
    border:0;
    background-color:transparent;
    cursor:pointer;
    margin-right:8px
}
.vs__dropdown-menu{
    display:block;
    box-sizing:border-box;
    position:absolute;
    top:calc(100% - 1px);
    left:0;
    z-index:1000;
    padding:5px 0;
    margin:0;
    width:100%;
    max-height:350px;
    min-width:160px;
    overflow-y:auto;
    box-shadow:0 3px 6px 0 rgba(0,0,0,.15);
    border:1px solid rgba(60,60,60,.26);
    border-top-style:none;
    border-radius:0 0 4px 4px;
    text-align:left;
    list-style:none;
    background:#fff
}
.vs__no-options{
    text-align:center
}
.vs__dropdown-option{
    line-height:1.42857143;
    display:block;
    padding:3px 20px;
    clear:both;
    color:#333;
    white-space:nowrap;
    cursor:pointer
}
.vs__dropdown-option--highlight{
    background:#5897fb;
    color:#fff
}
.vs__dropdown-option--deselect{
    background:#fb5858;
    color:#fff
}
.vs__dropdown-option--disabled{
    background:inherit;
    color:rgba(60,60,60,.5);
    cursor:inherit
}
.vs__selected{
    display:flex;
    align-items:center;
    background-color:#f0f0f0;
    border:1px solid rgba(60,60,60,.26);
    border-radius:4px;
    color:#333;
    line-height:1.4;
    margin:4px 2px 0;
    padding:0 .25em;
    z-index:0
}
.vs__deselect{
    display:inline-flex;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    margin-left:4px;
    padding:0;
    border:0;
    cursor:pointer;
    background:none;
    fill:rgba(60,60,60,.5);
    text-shadow:0 1px 0 #fff
}
.vs--single .vs__selected{
    background-color:transparent;
    border-color:transparent
}
.vs--single.vs--loading .vs__selected,.vs--single.vs--open .vs__selected{
    position:absolute;
    opacity:.4
}
.vs--single.vs--searching .vs__selected{
    display:none
}
.vs__search::-webkit-search-cancel-button{
    display:none
}
.vs__search::-ms-clear,.vs__search::-webkit-search-decoration,.vs__search::-webkit-search-results-button,.vs__search::-webkit-search-results-decoration{
    display:none
}
.vs__search,.vs__search:focus{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    line-height:1.4;
    font-size:1em;
    border:1px solid transparent;
    border-left:none;
    outline:none;
    margin:4px 0 0;
    padding:0 7px;
    background:none;
    box-shadow:none;
    width:0;
    max-width:100%;
    flex-grow:1;
    z-index:1
}
.vs__search::-moz-placeholder{
    color:inherit
}
.vs__search:-ms-input-placeholder{
    color:inherit
}
.vs__search::placeholder{
    color:inherit
}
.vs--unsearchable .vs__search{
    opacity:1
}
.vs--unsearchable:not(.vs--disabled) .vs__search{
    cursor:pointer
}
.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search{
    opacity:.2
}
.vs__spinner{
    align-self:center;
    opacity:0;
    font-size:5px;
    text-indent:-9999em;
    overflow:hidden;
    border:.9em solid hsla(0,0%,39.2%,.1);
    border-left-color:rgba(60,60,60,.45);
    transform:translateZ(0);
    -webkit-animation:vSelectSpinner 1.1s linear infinite;
    animation:vSelectSpinner 1.1s linear infinite;
    transition:opacity .1s
}
.vs__spinner,.vs__spinner:after{
    border-radius:50%;
    width:5em;
    height:5em
}
.show,.vs--loading .vs__spinner{
    opacity:1
}
.show{
    visibility:visible
}
.hide{
    opacity:0;
    visibility:hidden
}
.vs__actions{
    display:flex;
    justify-content:flex-end;
    line-height:1
}
.vs__dropdown-toggle{
    border:0;
    padding-bottom:0!important
}
.vs__selected-options{
    padding-left:0;
    line-height:19px;
    height:19px
}
.vs__selected{
    width:85%;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    padding:0;
    margin:0;
    font-weight:400;
    border:0;
    line-height:1
}
.vs__selected:focus{
    margin:0
}
.vs--single.vs--open .vs__selected{
    position:relative
}
.disabled{
    background-color:#f8f8f8
}
.vs__search{
    padding:0;
    margin:0;
    line-height:1
}
.vs__search:focus{
    margin:0
}
.vs__actions{
    padding:0!important;
    position:absolute;
    right:16px;
    top:12px
}
.vs__dropdown-menu{
    width:calc(100% + 2px);
    margin-left:-1px;
    margin-top:-6px;
    border-color:#00a6ce;
    min-width:auto
}
.label-top{
    top:18px
}
.string-label{
    line-height:1.55
}
.blink_me{
    -webkit-animation:blinker 1s linear 3;
    animation:blinker 1s linear 3
}
@-webkit-keyframes blinker{
    50%{
        opacity:0
    }
}
@keyframes blinker{
    50%{
        opacity:0
    }
}
@media (min-width:640px){
    .sm\:show{
        opacity:1;
        visibility:visible
    }
    .sm\:hide{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:768px){
    .md\:show{
        opacity:1;
        visibility:visible
    }
    .md\:hide{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:1024px){
    .lg\:show{
        opacity:1;
        visibility:visible
    }
    .lg\:hide{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:1280px){
    .xl\:show{
        opacity:1;
        visibility:visible
    }
    .xl\:hide{
        opacity:0;
        visibility:hidden
    }
}
.table thead th[data-v-ddcf6b7a]{
    border-top:0!important
}
.focused[data-v-de526168]{
    opacity:1!important
}
.card-shinny[data-v-de526168]{
    width:50px;
    height:35px;
    border-radius:5px;
    background:#ccc;
    position:relative;
    margin-bottom:10px
}
.card-shinny[data-v-de526168]:before{
    content:" ";
    display:block;
    width:70%;
    height:60%;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    background:#d9d9d9;
    position:absolute;
    top:20%
}
.item[data-v-de526168]{
    border:1px solid transparent;
    display:flex;
    height:218px;
    perspective:800px;
    position:relative;
    width:400px;
    max-width:100%;
    font-family:Bitstream Vera Sans Mono,Consolas,Courier,monospace
}
.card[data-v-de526168]{
    width:100%;
    height:100%;
    position:absolute;
    transition:all .6s linear;
    transform-style:preserve-3d
}
.card figure[data-v-de526168]{
    margin:0;
    background:#ddd;
    border-radius:8px;
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.card i[data-v-de526168]{
    cursor:pointer;
    display:inline-block;
    position:absolute;
    right:.5em;
    bottom:.5em
}
.card.flip[data-v-de526168]{
    transform:rotateY(180deg)
}
.card--front[data-v-de526168]{
    background:hsla(0,0%,100%,.25);
    border:1px solid #fff;
    position:relative;
    transition-delay:.3s;
    font-size:20px;
    padding:30px
}
.card--front .card-lower[data-v-de526168]{
    width:80%;
    position:absolute;
    left:10%;
    bottom:30px
}
.card--front .card-name[data-v-de526168]{
    opacity:.5;
    width:65%;
    position:absolute;
    bottom:0;
    line-height:1;
    padding-right:30px
}
.card--front .card-date[data-v-de526168]{
    width:35%;
    font-size:16px;
    display:flex;
    position:absolute;
    bottom:0;
    right:0;
    line-height:15px
}
.card--front .card-date[data-v-de526168]:before{
    content:attr(data-before);
    width:50px;
    font-size:11px;
    font-family:Arial,sans-serif;
    line-height:1;
    margin-right:4px;
    opacity:.5
}
.card--front .card-date .card-month[data-v-de526168]{
    opacity:.5
}
.card--front .card-date .card-month[data-v-de526168]:after{
    content:"/";
    margin-left:4px;
    margin-right:4px
}
.card--front .card-date .card-year[data-v-de526168]{
    opacity:.5
}
.card--front .card-number[data-v-de526168]{
    margin-bottom:60px;
    opacity:.5
}
.card--back[data-v-de526168]{
    background:#d9faef;
    background:hsla(0,0%,100%,.25);
    position:relative;
    transform:rotateY(180deg)
}
.card--back .credit-card-back-dark[data-v-de526168]{
    width:100%;
    margin-top:20px;
    background:#212121;
    height:40px;
    position:absolute
}
.card--back .credit-card-back-white[data-v-de526168]{
    width:70%;
    margin-top:72px;
    margin-left:8px;
    background:#fff;
    height:32px;
    position:absolute
}
.card--back .card-cvv[data-v-de526168]{
    position:absolute;
    left:264px;
    margin-top:32px;
    opacity:.5
}
.card--back .card-shinny[data-v-de526168]{
    top:120px;
    left:8px
}
.card--back .card-shinny[data-v-de526168]:after{
    position:absolute;
    content:"Yetkili imza, imzalanmadÄ±ÄŸÄ± takdirde geÃ§ersizdir.";
    font-size:9px;
    opacity:.4;
    width:220px;
    padding:4px 0 0 58px;
    font-family:Arial,sans-serif
}
.card.flip .card--front[data-v-de526168]{
    visibility:hidden
}
.bank-logo[data-v-de526168]{
    max-height:60px;
    max-width:300px
}
.installment-radio-button[data-v-de526168]{
    line-height:18px;
    cursor:pointer
}
@media screen and (max-width:768px){
    .card-month-year[data-v-de526168]{
        width:77px!important
    }
}
.card-form[data-v-de526168]{
    max-width:400px;
    margin:auto;
    width:100%
}
@media screen and (max-width:576px){
    .card-form[data-v-de526168]{
        margin:0 auto
    }
}
.card-form__inner[data-v-de526168]{
    background:#fff;
    box-shadow:0 30px 60px 0 rgba(90,116,148,.4);
    border-radius:10px;
    padding:170px 20px 20px
}
.card-form__row[data-v-de526168]{
    display:flex;
    align-items:flex-start
}
@media screen and (max-width:480px){
    .card-form__row[data-v-de526168]{
        flex-wrap:wrap
    }
}
.card-form__col[data-v-de526168]{
    flex:auto;
    margin-right:15px
}
.card-form__col[data-v-de526168]:last-child{
    margin-right:0
}
@media screen and (max-width:480px){
    .card-form__col[data-v-de526168]{
        margin-right:0;
        flex:unset;
        width:100%;
        margin-bottom:20px
    }
    .card-form__col[data-v-de526168]:last-child{
        margin-bottom:0
    }
}
.card-form__col.-cvv[data-v-de526168]{
    max-width:150px
}
@media screen and (max-width:480px){
    .card-form__col.-cvv[data-v-de526168]{
        max-width:none
    }
}
.card-form__group[data-v-de526168]{
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap
}
.card-form__group .card-input__input[data-v-de526168]{
    flex:1;
    margin-right:15px
}
.card-form__group .card-input__input[data-v-de526168]:last-child{
    margin-right:0
}
.card-form__button[data-v-de526168]{
    width:100%;
    height:55px;
    background:#2364d2;
    border:none;
    border-radius:5px;
    font-size:22px;
    font-weight:500;
    box-shadow:3px 10px 20px 0 rgba(35,100,210,.3);
    color:#fff;
    margin-top:20px;
    cursor:pointer
}
@media screen and (max-width:480px){
    .card-form__button[data-v-de526168]{
        margin-top:10px
    }
}
.card-item[data-v-de526168]{
    max-width:430px;
    height:218px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    z-index:2;
    width:100%
}
@media screen and (max-width:480px){
    .card-item[data-v-de526168]{
        max-width:310px;
        height:220px;
        width:90%
    }
}
@media screen and (max-width:360px){
    .card-item[data-v-de526168]{
        height:180px
    }
}
.card-item.-active .card-item__side.-front[data-v-de526168]{
    transform:perspective(1000px) rotateY(180deg) rotateX(0deg) rotate(0deg)
}
.card-item.-active .card-item__side.-back[data-v-de526168]{
    transform:perspective(1000px) rotateY(0) rotateX(0deg) rotate(0deg)
}
.card-item__focus[data-v-de526168]{
    position:absolute;
    z-index:3;
    border-radius:5px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:all .35s cubic-bezier(.71,.03,.56,.85);
    opacity:0;
    pointer-events:none;
    overflow:hidden;
    border:2px solid hsla(0,0%,100%,.65)
}
.card-item__focus[data-v-de526168]:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:#08142f;
    height:100%;
    border-radius:5px;
    filter:blur(25px);
    opacity:.5
}
.card-item__focus.-active[data-v-de526168]{
    opacity:1
}
.card-item__side[data-v-de526168]{
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 4px 8px 0 rgba(14,42,90,.55);
    transform:perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    transform-style:preserve-3d;
    transition:all .8s cubic-bezier(.71,.03,.56,.85);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    height:100%
}
.card-item__side.-back[data-v-de526168]{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    transform:perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
    z-index:2;
    padding:0;
    height:100%
}
.card-item__side.-back .card-item__cover[data-v-de526168]{
    transform:rotateY(-180deg)
}
.card-item__bg[data-v-de526168]{
    max-width:100%;
    display:block;
    max-height:100%;
    height:100%;
    width:100%;
    -o-object-fit:cover;
    object-fit:cover
}
.card-item__cover[data-v-de526168]{
    position:absolute;
    height:100%;
    background-color:#1c1d27;
    left:0;
    top:0;
    width:100%;
    border-radius:15px;
    overflow:hidden
}
.card-item__cover[data-v-de526168]:after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(6,2,29,.45)
}
.card-item__top[data-v-de526168]{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    margin-bottom:20px;
    padding:0 10px
}
@media screen and (max-width:480px){
    .card-item__top[data-v-de526168]{
        margin-bottom:15px
    }
}
@media screen and (max-width:360px){
    .card-item__top[data-v-de526168]{
        margin-bottom:10px
    }
}
.card-item__chip[data-v-de526168]{
    width:50px
}
@media screen and (max-width:480px){
    .card-item__chip[data-v-de526168]{
        width:40px
    }
}
@media screen and (max-width:360px){
    .card-item__chip[data-v-de526168]{
        width:30px
    }
}
.card-item__type[data-v-de526168]{
    height:41px;
    position:relative;
    display:flex;
    justify-content:flex-end;
    max-width:100px;
    margin-left:auto;
    width:100%
}
@media screen and (max-width:480px){
    .card-item__type[data-v-de526168]{
        height:40px;
        max-width:90px
    }
}
@media screen and (max-width:360px){
    .card-item__type[data-v-de526168]{
        height:30px
    }
}
.card-item__typeImg[data-v-de526168]{
    max-width:100%;
    -o-object-fit:contain;
    object-fit:contain;
    max-height:100%;
    -o-object-position:top right;
    object-position:top right
}
.card-item__info[data-v-de526168]{
    color:#fff;
    width:100%;
    max-width:calc(100% - 85px);
    padding:10px 15px;
    font-weight:500;
    display:block;
    cursor:pointer
}
@media screen and (max-width:480px){
    .card-item__info[data-v-de526168]{
        padding:10px
    }
}
.card-item__holder[data-v-de526168]{
    opacity:.7;
    font-size:13px;
    margin-bottom:6px
}
@media screen and (max-width:480px){
    .card-item__holder[data-v-de526168]{
        font-size:12px;
        margin-bottom:5px
    }
}
.card-item__wrapper[data-v-de526168]{
    padding:25px 15px;
    position:relative;
    z-index:4;
    height:100%;
    text-shadow:7px 6px 10px rgba(14,42,90,.8);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
@media screen and (max-width:480px){
    .card-item__wrapper[data-v-de526168]{
        padding:20px 10px
    }
}
.card-item__name[data-v-de526168]{
    font-size:16px;
    line-height:1;
    white-space:nowrap;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    text-transform:uppercase
}
@media screen and (max-width:480px){
    .card-item__name[data-v-de526168]{
        font-size:14px
    }
}
.card-item__nameItem[data-v-de526168]{
    display:inline-block;
    min-width:8px;
    position:relative
}
.card-item__number[data-v-de526168]{
    font-weight:500;
    line-height:1;
    color:#fff;
    font-size:19px;
    margin-bottom:20px;
    display:inline-block;
    padding:10px 15px;
    cursor:pointer
}
@media screen and (max-width:480px){
    .card-item__number[data-v-de526168]{
        font-size:21px;
        margin-bottom:15px;
        padding:10px
    }
}
@media screen and (max-width:360px){
    .card-item__number[data-v-de526168]{
        font-size:19px;
        margin-bottom:10px;
        padding:10px
    }
}
.card-item__numberItem[data-v-de526168]{
    width:15.5px;
    display:inline-block
}
.card-item__numberItem.-active[data-v-de526168]{
    width:30px
}
@media screen and (max-width:480px){
    .card-item__numberItem[data-v-de526168]{
        width:13px
    }
    .card-item__numberItem.-active[data-v-de526168]{
        width:15.5px
    }
}
@media screen and (max-width:360px){
    .card-item__numberItem[data-v-de526168]{
        width:12px
    }
    .card-item__numberItem.-active[data-v-de526168]{
        width:8px
    }
}
.card-item__content[data-v-de526168]{
    color:#fff;
    display:flex;
    align-items:flex-start
}
.card-item__date[data-v-de526168]{
    flex-wrap:wrap;
    font-size:18px;
    margin-left:auto;
    padding:10px;
    display:inline-flex;
    width:80px;
    white-space:nowrap;
    flex-shrink:0;
    cursor:pointer
}
@media screen and (max-width:480px){
    .card-item__date[data-v-de526168]{
        font-size:16px
    }
}
.card-item__dateItem[data-v-de526168]{
    position:relative
}
.card-item__dateItem span[data-v-de526168]{
    width:26px;
    font-size:16px;
    display:inline-block;
    text-align:center
}
.card-item__dateTitle[data-v-de526168]{
    opacity:.7;
    font-size:13px;
    width:100%
}
@media screen and (max-width:480px){
    .card-item__dateTitle[data-v-de526168]{
        font-size:12px;
        padding-bottom:5px
    }
}
.card-item__band[data-v-de526168]{
    background:rgba(0,0,19,.8);
    width:100%;
    height:50px;
    margin-top:30px;
    position:relative;
    z-index:2
}
@media screen and (max-width:480px){
    .card-item__band[data-v-de526168]{
        margin-top:20px
    }
}
@media screen and (max-width:360px){
    .card-item__band[data-v-de526168]{
        height:40px;
        margin-top:10px
    }
}
.card-item__cvv[data-v-de526168]{
    text-align:right;
    position:relative;
    z-index:2;
    padding:15px
}
.card-item__cvv .card-item__type[data-v-de526168]{
    opacity:.7
}
@media screen and (max-width:360px){
    .card-item__cvv[data-v-de526168]{
        padding:10px 15px
    }
}
.card-item__cvvTitle[data-v-de526168]{
    padding-right:10px;
    font-size:15px;
    font-weight:500;
    color:#fff;
    margin-bottom:5px
}
.card-item__cvvBand[data-v-de526168]{
    height:45px;
    background:#fff;
    margin-bottom:5px;
    text-align:right;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding-right:10px;
    color:#1a3b5d;
    font-size:18px;
    border-radius:4px;
    box-shadow:0 10px 20px -7px rgba(32,56,117,.35)
}
@media screen and (max-width:480px){
    .card-item__cvvBand[data-v-de526168]{
        height:40px;
        margin-bottom:20px
    }
}
@media screen and (max-width:360px){
    .card-item__cvvBand[data-v-de526168]{
        margin-bottom:15px
    }
}
@media screen and (min-width:481px){
    .card-animation-wrapper[data-v-de526168]{
        height:218px
    }
}
@media screen and (max-width:480px){
    .card-animation-wrapper[data-v-de526168]{
        display:none!important
    }
}
.card-list[data-v-de526168]{
    margin-bottom:-130px
}
@media screen and (max-width:480px){
    .card-list[data-v-de526168]{
        margin-bottom:-120px
    }
}
.slide-fade-up-enter-active[data-v-de526168]{
    transition:all .25s ease-in-out;
    transition-delay:.1s;
    position:relative
}
.slide-fade-up-leave-active[data-v-de526168]{
    transition:all .25s ease-in-out;
    position:absolute
}
.slide-fade-up-enter[data-v-de526168]{
    opacity:0;
    transform:translateY(15px);
    pointer-events:none
}
.slide-fade-up-leave-to[data-v-de526168]{
    opacity:0;
    transform:translateY(-15px);
    pointer-events:none
}
.slide-fade-right-enter-active[data-v-de526168]{
    transition:all .25s ease-in-out;
    transition-delay:.1s;
    position:relative
}
.slide-fade-right-leave-active[data-v-de526168]{
    transition:all .25s ease-in-out;
    position:absolute
}
.slide-fade-right-enter[data-v-de526168]{
    opacity:0;
    transform:translateX(10px) rotate(45deg);
    pointer-events:none
}
.slide-fade-right-leave-to[data-v-de526168]{
    opacity:0;
    transform:translateX(-10px) rotate(45deg);
    pointer-events:none
}
.github-btn[data-v-de526168]{
    position:absolute;
    right:40px;
    bottom:50px;
    text-decoration:none;
    padding:15px 25px;
    border-radius:4px;
    box-shadow:0 4px 30px -6px rgba(36,52,70,.65);
    background:#24292e;
    color:#fff;
    font-weight:700;
    letter-spacing:1px;
    font-size:16px;
    text-align:center;
    transition:all .3s ease-in-out
}
@media screen and (min-width:500px){
    .github-btn[data-v-de526168]:hover{
        transform:scale(1.1);
        box-shadow:0 17px 20px -6px rgba(36,52,70,.36)
    }
}
@media screen and (max-width:700px){
    .github-btn[data-v-de526168]{
        position:relative;
        bottom:auto;
        right:auto;
        margin-top:20px
    }
    .github-btn[data-v-de526168]:active{
        transform:scale(1.1);
        box-shadow:0 17px 20px -6px rgba(36,52,70,.36)
    }
}
article.new-item[data-v-de526168]{
    min-height:300px
}
.payment-installment[data-v-de526168]{
    flex:0 0 calc(33.33333% - 1rem)
}
.selected-installment[data-v-de526168]{
    border-color:#0087b2!important;
    background-color:#eef9ff!important
}
.payment-installment[data-v-de526168]{
    border:1px solid #f6fbfc
}
.selected-installment-icon[data-v-de526168]{
    top:50%;
    margin-top:-8px;
    right:.75rem
}
.payment-installment-single[data-v-de526168]{
    border-radius:30px
}
@media screen and (max-width:767px){
    .payment-installment[data-v-de526168]{
        flex:0 0 100%!important
    }
}