.radio-button[data-v-636c831e]{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center
}
.radio-button[data-v-636c831e]:focus{
    outline:2px solid transparent;
    outline-offset:2px
}
.radio-button-input[data-v-636c831e]{
    height:18px
}
.radio-button-input[data-v-636c831e]:focus{
    outline:2px solid transparent;
    outline-offset:2px
}
.radio-button-label[data-v-636c831e]{
    margin-left:18px
}
input[data-v-636c831e]{
    position:absolute;
    opacity:0;
    cursor:pointer
}
.checkmark[data-v-636c831e]{
    position:absolute;
    top:0;
    left:0;
    height:18px;
    width:18px;
    background-color:#eee;
    border-radius:50%
}
input~.checkmark[data-v-636c831e]{
    background-color:#ccc
}
input:checked~.checkmark[data-v-636c831e]{
    background-color:#00a6ce
}
.checkmark[data-v-636c831e]:after{
    content:"";
    position:absolute;
    //display:none
}
input:checked~.checkmark[data-v-636c831e]:after{
    display:block;
    top:2px;
    left:2px;
    width:14px;
    height:14px;
    background:transparent;
    border:3px solid #fff
}
.checkmark[data-v-636c831e]:after{
    top:1px;
    left:1px;
    width:16px;
    height:16px;
    border-radius:50%;
    background:#fff
}
.address-box[data-v-958f87c2]{
    display:flex;
    position:relative;
    width:100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    flex-direction:column;
    border-radius:.5rem;
    padding:1rem;
    line-height:1
}
@media (min-width:768px){
    .address-box[data-v-958f87c2]{
        -webkit-user-select:auto;
        -moz-user-select:auto;
        -ms-user-select:auto;
        user-select:auto
    }
}
.address-box.selected[data-v-958f87c2]{
    --border-opacity:1;
    border-color:#00a6ce;
    border-color:rgba(0,166,206,var(--border-opacity));
    border-width:2px;
    padding:15px
}
.address-box.not-selectable[data-v-958f87c2],.address-box.unselected[data-v-958f87c2]{
    --border-opacity:1;
    border-color:#d2d3d3;
    border-color:rgba(210,211,211,var(--border-opacity));
    border-width:1px
}
.address-box-select[data-v-958f87c2]{
    display:flex;
    cursor:pointer;
    flex-direction:row;
    border-bottom-width:1px;
    --border-opacity:1;
    border-color:#f4f4f4;
    border-color:rgba(244,244,244,var(--border-opacity));
    padding-bottom:1rem
}
.address-box-info[data-v-958f87c2]{
    cursor:pointer;
    padding-top:1rem;
    font-size:.875rem;
    display:flex;
    flex-direction:column
}
.address-box-info-title[data-v-958f87c2]{
    height:1.25rem;
    font-size:1rem;
    font-weight:600;
    margin-bottom:.5rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.address-box-info-name[data-v-958f87c2]{
    height:1rem;
    --text-opacity:1;
    color:#727272;
    color:rgba(114,114,114,var(--text-opacity));
    font-weight:600;
    margin-bottom:.25rem;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.address-box-info-address[data-v-958f87c2]{
    height:57px;
    margin-bottom:.5rem;
    line-height:1.375;
    overflow:hidden
}
.address-box-info-phone[data-v-958f87c2]{
    height:1rem;
    --text-opacity:1;
    color:#727272;
    color:rgba(114,114,114,var(--text-opacity))
}
.address-box-buttons[data-v-958f87c2]{
    font-size:.75rem
}
.address-box-buttons.selected[data-v-958f87c2]{
    bottom:15px;
    right:15px
}
.address-box-buttons.not-selected[data-v-958f87c2]{
    right:1rem;
    bottom:1rem
}
.address-box-buttons-edit[data-v-958f87c2]{
    border-right-width:1px;
    --border-opacity:1;
    border-color:#dedede;
    border-color:rgba(222,222,222,var(--border-opacity));
    padding-right:.5rem;
    margin-right:.5rem
}
.address-box-buttons-delete[data-v-958f87c2]:focus,.address-box-buttons-edit[data-v-958f87c2]:focus{
    outline:2px solid transparent;
    outline-offset:2px
}
.hidden-input[data-v-c5ca5d2c]{
    display:flex;
    flex-direction:column
}
.hidden-input-error[data-v-c5ca5d2c]{
    display:block;
    margin-top:.5rem;
    font-size:.75rem;
    font-weight:500;
    --text-opacity:1;
    color:#d23f3f;
    color:rgba(210,63,63,var(--text-opacity))
}
.blink_me[data-v-c5ca5d2c]{
    -webkit-animation:blinker-data-v-c5ca5d2c 1s linear 3;
    animation:blinker-data-v-c5ca5d2c 1s linear 3
}
@-webkit-keyframes blinker-data-v-c5ca5d2c{
    50%{
        opacity:0
    }
}
@keyframes blinker-data-v-c5ca5d2c{
    50%{
        opacity:0
    }
}
.radio-button[data-v-e1a54234]{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    width:18px;
    height:18px
}
.radio-button[data-v-e1a54234]:focus{
    outline:2px solid transparent;
    outline-offset:2px
}
.radio-button-input[data-v-e1a54234]{
    height:18px
}
.radio-button-input[data-v-e1a54234]:focus{
    outline:2px solid transparent;
    outline-offset:2px
}
input[data-v-e1a54234]{
    position:absolute;
    opacity:0;
    cursor:pointer
}
.checkmark[data-v-e1a54234]{
    position:absolute;
    top:0;
    left:0;
    height:18px;
    width:18px;
    background-color:#eee;
    border-radius:50%
}
input~.checkmark[data-v-e1a54234]{
    background-color: #00a6ce;
}
input:checked~.checkmark[data-v-e1a54234]{
    background-color:#00a6ce
}
.checkmark[data-v-e1a54234]:after{
    content:"";
    position:absolute;
    //display:none
}
input:checked~.checkmark[data-v-e1a54234]:after{
    display:block;
    top:2px;
    left:2px;
    width:14px;
    height:14px;
    border-radius:50%;
    background:transparent;
    border:3px solid #fff
}
.checkmark[data-v-e1a54234]:after{
    display:block;
    top:2px;
    left:2px;
    width:14px;
    height:14px;
    border-radius:50%;
    background:transparent;
    border:3px solid #fff
}
.show[data-v-75c2391f]{
    opacity:1;
    visibility:visible
}
.hide[data-v-75c2391f]{
    opacity:0;
    visibility:hidden
}
.active[data-v-75c2391f]{
    position:relative;
    color:#00a6ce
}
.active[data-v-75c2391f]:after{
    position:absolute;
    content:"";
    bottom:0;
    left:0;
    width:100%;
    height:4px;
    background:#00a6ce;
    border-top-left-radius:2px;
    border-top-right-radius:2px
}
.payment-line[data-v-75c2391f]{
    width:6px;
    background:#dedede;
    border-radius:3px
}
.with-shadow[data-v-75c2391f]:hover{
    box-shadow:0 0 9px 0 hsla(0,0%,75.3%,.5)
}
@media (min-width:640px){
    .sm\:show[data-v-75c2391f]{
        opacity:1;
        visibility:visible
    }
    .sm\:hide[data-v-75c2391f]{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:768px){
    .md\:show[data-v-75c2391f]{
        opacity:1;
        visibility:visible
    }
    .md\:hide[data-v-75c2391f]{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:1024px){
    .lg\:show[data-v-75c2391f]{
        opacity:1;
        visibility:visible
    }
    .lg\:hide[data-v-75c2391f]{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:1280px){
    .xl\:show[data-v-75c2391f]{
        opacity:1;
        visibility:visible
    }
    .xl\:hide[data-v-75c2391f]{
        opacity:0;
        visibility:hidden
    }
}
.check-box[data-v-1a5789de]{
    display:flex;
    flex-direction:row;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.check-box-item[data-v-1a5789de]{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:flex-start
}
.check-box-item-input[data-v-1a5789de]{
    display:flex;
    flex-direction:row;
    width:100%;
    align-items:flex-start
}
.check-box-item-input-label[data-v-1a5789de]{
    padding-left:.75rem;
    display:flex;
    flex:1 1 0%;
    cursor:pointer;
    line-height:1.25
}
.check-box-item-input-element[data-v-1a5789de]{
    margin-top:3px
}
.check-box-item-error[data-v-1a5789de]{
    display:block;
    margin-top:.5rem;
    margin-left:1.5rem;
    font-size:.75rem;
    font-weight:500;
    --text-opacity:1;
    color:#d23f3f;
    color:rgba(210,63,63,var(--text-opacity))
}
.blink_me[data-v-1a5789de]{
    -webkit-animation:blinker-data-v-1a5789de 1s linear 3;
    animation:blinker-data-v-1a5789de 1s linear 3
}
@-webkit-keyframes blinker-data-v-1a5789de{
    50%{
        opacity:0
    }
}
@keyframes blinker-data-v-1a5789de{
    50%{
        opacity:0
    }
}
@media print{
    #__nuxt *{
        visibility:hidden
    }
    .vm--modal{
        width:100%;
        height:auto;
        left:0;
        top:0
    }
}
.show[data-v-444774f0]{
    opacity:1;
    visibility:visible
}
.hide[data-v-444774f0]{
    opacity:0;
    visibility:hidden
}
.active[data-v-444774f0]{
    position:relative;
    color:#00a6ce
}
.active[data-v-444774f0]:after{
    position:absolute;
    content:"";
    bottom:0;
    left:0;
    width:100%;
    height:4px;
    background:#00a6ce;
    border-top-left-radius:2px;
    border-top-right-radius:2px
}
.payment-line[data-v-444774f0]{
    width:6px;
    background:#dedede;
    border-radius:3px
}
.sozlesme[data-v-444774f0]{
    height:260px;
    padding-right:32px
}
.with-shadow[data-v-444774f0]:hover{
    box-shadow:0 0 9px 0 hsla(0,0%,75.3%,.5)
}
.payment-type-icon[data-v-444774f0]{
    margin-left:3px;
    margin-right:10px
}
@media (min-width:640px){
    .sm\:show[data-v-444774f0]{
        opacity:1;
        visibility:visible
    }
    .sm\:hide[data-v-444774f0]{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:768px){
    .md\:show[data-v-444774f0]{
        opacity:1;
        visibility:visible
    }
    .md\:hide[data-v-444774f0]{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:1024px){
    .lg\:show[data-v-444774f0]{
        opacity:1;
        visibility:visible
    }
    .lg\:hide[data-v-444774f0]{
        opacity:0;
        visibility:hidden
    }
}
@media (min-width:1280px){
    .xl\:show[data-v-444774f0]{
        opacity:1;
        visibility:visible
    }
    .xl\:hide[data-v-444774f0]{
        opacity:0;
        visibility:hidden
    }
}